<!-- <link rel="stylesheet" href="footer.css"> -->

<style>
    * {
        text-align: center;
    }
    
    footer {
        background-color: lightgray;
        padding: 10px 0 5px 0;
    }

    .mb-5 {
        margin-bottom: 10px !important;
    }

    .form-label {
        font-weight: bold;
    }

    p>a {
        margin-left: 5px;
        margin-right: 5px;
        text-decoration: none;
        color: black;
    }
</style>

<footer class="footer-distributed">
    <div class="mb-5">
        <a class="navbar-brand" href="./index.html" aria-label="Space">
            <img class="navbar-brand-logo" src="../img/logo.png" alt="Image Description" width="40px" height="40px">
        </a>

        <span class="d-block">
            <label class="form-label">HANA PET</label>
        </span>
    </div>

    <div class="footer-center">

        <p class="footer-links">
            <a class="link-1" href="/">Home</a>

            <a href="../favorite.html">FAVORITE</a>

            <a href="../adopt-center.html">입양 센터</a>

            <a href="../hospital.html">동물 병원</a>

            <a href="../playground.html">반려견 놀이터</a>

            <a href="#">맨 위로</a>
        </p>

        <p>HANA &copy; 2023</p>
    </div>

</footer>