<script src="../footer.js"></script>
<style>
    * {
        text-align: center;
    }

    footer {
        background-color: lightgray;
        padding: 10px 0 5px 0;
    }

    .mb-5 {
        margin-bottom: 20px !important;
    }

    .form-label {
        font-weight: bold;
    }

    p>a {
        text-decoration: none;
        color: black;
    }

    .divider {
        margin: 0 5px;
    }

    .clickable {
        cursor: pointer;
        font-weight: bold;
        color: #008485;
    }
</style>

<footer class="footer-distributed">
    <div class="mb-5">
        <a class="navbar-brand" href="./" aria-label="Space">
            <img class="navbar-brand-logo" src="../img/logo.png" alt="logo" width="50px" height="50px">
        </a>
        <span class="d-block">
            <label class="clickable" onclick="window.location.href ='/'">HANA PET</label>
        </span>
    </div>

    <div class="footer-center">

        <p class="footer-links">
            <a class="link-1" href="/">Home</a>
            <span class="divider">|</span>
            <a href="../favorite.html">FAVORITE</a>
            <span class="divider">|</span>
            <a href="../adopt-center.html">입양 센터</a>
            <span class="divider">|</span>
            <a href="../hospital.html">동물 병원</a>
            <span class="divider">|</span>
            <a href="../playground.html">반려견 놀이터</a>
            <span class="divider">|</span>
            <img class = "clickable" id="btnScrollToTop" src="../img/btn-to-top.png" width="25px" height="25px"></button>
        </p>

        <p>HANA PET &copy; 2023</p>
    </div>

</footer>