<nav class="navbar navbar-expand-lg" style="background-color:rgb(255, 255, 255);">
    <div class="container-fluid">

        <a class="navbar-brand" href="/"><img src="../img/logo.png" width="50px" height="50px"><b>HANA
                PET</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {%include ul.html%}
            <form class="col-12 col-lg-auto mb-0 mb-lg-0 me-lg-3 text-end" role="search">
                <input type="search" class="form-control form-control-dark mb-0" placeholder="Search..."
                    aria-label="Search" onfocus="expandInputWidth(this)" style="text-align: left">

            </form>
        </div>
    </div>
</nav>